.outside-container {
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.chat-container {
    border: 2px solid red;
    flex: 1 !important;
    height: auto !important;
    padding:0;
}

mat-drawer-container {
    height: 100%!important;
}
mat-drawer{
    padding: 0.75rem;
}

input {
    border-radius: 3rem !important;
}

.card-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card {
    padding-bottom: 0;
}