<div class="container-fluid outside-container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                    <a class="nav-link logoutButton" *ngIf="userAuth.loginStatus()" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid chat-container">
        <mat-drawer-container>
            <mat-drawer class="my-auto col-4" #drawer mode="side" opened>

                <form (ngSubmit)="searchUser()">
                    <mat-form-field class="col-12" appearance="fill">
                        <mat-label>Search users</mat-label>
                        <input matInput [formControl]="searchItem" placeholder="johndoe12" (input)="searchUser()"
                            maxlength="20">
                        <button mat-icon-button matSuffix *ngIf="this.searchItem.value"
                            (click)="this.searchItem.setValue('')" type="button">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button matSuffix [type]="this.searchItem.value ? 'submit': 'button'">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </form>

                <mat-card class="col-12" *ngIf="searchResult.username">
                    <mat-card-header>
                        <div mat-card-avatar class="card-avatar"
                            style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')">
                        </div>
                        <mat-card-title>{{searchResult.firstName}} {{searchResult.lastName}}</mat-card-title>
                        <mat-card-subtitle>@{{searchResult.username}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

                <mat-card class="col-12" *ngIf="searchLoadingEnable && searchResult.username=='' && searchItem.value">
                    <mat-card-header>
                        <mat-card-title>Loading...</mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card class="col-12" *ngIf="!searchResult.username && searchItem.value && searchLoadingEnable==false">
                    <mat-card-header>
                        <mat-card-title>No users found</mat-card-title>
                    </mat-card-header>
                </mat-card>

            </mat-drawer>
            <mat-drawer-content>
                Here
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>