<mat-card class="col-12 d-flex align-items-center">
    <mat-card-header class="flex-grow-1">
        <div mat-card-avatar class="card-avatar"
            style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')">
        </div>
        <mat-card-title>Name line is here</mat-card-title>
        <mat-card-subtitle>@usernameishere</mat-card-subtitle>
    </mat-card-header>
    <button mat-raised-button color="primary" (click)="parentTest()">Add Contact</button>
</mat-card>
<div class="container-fluid">
    <div class="chat">
    </div>
</div>